# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
out/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Exclude specific files
test.js

# Vercel
.vercel

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
